<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Change_things_Android_final_demo"
        tools:targetApi="31">
        <activity
            android:name=".mainnavigation"
            android:exported="false"
            android:label="@string/title_activity_mainnavigation"
            android:theme="@style/Theme.Change_things_Android_final_demo.NoActionBar" />
        <activity
            android:name=".Navigation_drawer_view"
            android:exported="false"
            android:label="@string/title_activity_navigation_drawer_view"
            android:theme="@style/Theme.Change_things_Android_final_demo.NoActionBar" />
        <activity
            android:name=".own_recycler_view"
            android:exported="false" />
        <activity
            android:name=".recyclerfile.DetailActivity"
            android:exported="false" />
        <activity
            android:name=".recycler_view"
            android:exported="false" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBYdMpAatlZKDGlQHVfFrRL4JxAu1_x5uw" />

        <activity
            android:name=".Google_map_api"
            android:exported="true"
            android:label="@string/title_activity_google_map_api" />
        <activity
            android:name=".change_view"
            android:exported="false" />
        <activity
            android:name=".UploadItemActivity"
            android:exported="false" />
        <activity
            android:name=".register_view"
            android:exported="false" />
        <activity
            android:name=".login_view"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false">
        </activity>
    </application>

</manifest>